<% content_for :title, "Editing user" %>

<h1><%= content_for(:title) %></h1>
<%= link_to "→ Change password", edit_password_url(@user.password_reset_token), class: "hlink" %>

<%= form_with(model: @user, class: "contents") do |form| %>
  <% if @user.errors.any? %>
    <div role="alert">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email_address %>
    <%= form.text_field :email_address %>
  </div>

  <div class="inline-block">
    <%= form.submit %>
  </div>
<% end %>

<div class="inline-block -ml-[0.15rem]">
  <%= button_to "× Permanently delete", @user, method: :delete, class: "dangerous",  form: { data: { turbo_confirm: "Are you sure?" }} %>
</div>
