<% content_for :title, @post.title %>

<h1><%= content_for(:title) %></h1>
<%= link_to "← Back to posts", posts_path, class: "hlink" %>

<%= render "posts/metadata", post: @post, class: "absolute top-4" %>

<br>

<%= simple_format @post.body %>

<% if @post.user == Current.user %>
  <br>

  <div class="flex gap-2">
    <%= link_to "→ Edit", edit_post_path(@post), class: "button" %>
    <%= button_to "× Delete", @post, method: :delete, class: "dangerous" %>
  </div>
<% end %>

<br>
<hr class="border-black border-t-2">
<br>

<% if Current.user.present? %>
  <%= render "comments/form", comment: @comment || @post.comments.new %>
<% end %>

<%= render "comments/collection", comments: @post.comments.order(created_at: :desc) %>