<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= [content_for(:title), "Rails Gram"].compact.join(" | ") %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="flex items-center justify-between text-lg mb-16">
      <h2>
        <a href="/" class="!no-underline bg-black text-white font-bold normal-case px-2 py-1 relative before:absolute before:inset-0 before:-z-10 before:transform before:bg-[radial-gradient(circle_at_center,#000_.05rem,transparent_0),radial-gradient(circle_at_center,#000_.05rem,transparent_0)] before:[background-size:.2rem_.2rem] before:[background-position:0_0,.1rem_.1rem] before:[background-color:initial] before:transition-transform before:ease-in before:duration-100 hover:before:translate-x-1 hover:before:translate-y-1 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-500">
          Rails Gram
        </a>
      </h2>
      <div class="inline-flex items-center gap-2">
        <% if Current.user %>
          <span class="inline-flex items-center">
            <svg class="-ml-0.5 mr-1.5 h-2 w-2 text-green-500" fill="currentColor" height="8" width="8" viewBox="0 0 4 4">
              <rect width="4" height="4" />
            </svg>
            <span><%= link_to Current.user.screen_name_in_database, Current.user %></span>
          </span> |
          <%= button_to "Sign out", Current.session, method: :delete, class: "link" %>
        <% else %>
          <%= link_to "Sign in", new_session_path %> |
          <%= link_to "Sign up", new_user_path %>
        <% end %>
        | <%= link_to "Search", search_path %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <div class="absolute top-[4.5rem] left-0 right-0 text-center">
      <% if notice.present? %>
        <p role="alert" class="py-1 px-2 bg-white border border-green-500 text-green-500 font-medium inline-block">
          <%= notice.html_safe %>
        </p>
      <% end %>

      <% if alert.present? %>
        <p role="alert" class="py-1 px-2 bg-white border border-red-500 text-red-500 font-medium inline-block">
          <%= alert.html_safe %>
        </p>
      <% end %>
    </div>
  </body>
</html>
